.background {
    margin: 0;
    padding: 0;
}
.description {
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
    margin-top: 3em;
    margin-right: 500px;
    margin-left: 500px;
    text-align: center;
    color: whitesmoke;
    display: block;
    z-index: 3;
    position: relative;
}

.stars, .twinkling {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: black url("background items/stars.png") repeat top center;
    z-index: 1;
}

.twinkling {
    background: transparent url("background items/twinkling.png") repeat top center;
    z-index: 1;
    animation: move-twinkle-back 200s linear infinite;
}

@keyframes move-twinkle-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

.box {
    width: 1000px;
    height: 400px;
    text-align: center;
    border: 3px black;
    position: relative;
    z-index: 3;
    margin: auto;

}
.arrows{
    font-size: 15px;
}
button {
    z-index: 3;
    background: whitesmoke;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-align:center;
    transition: all 0.1s;
    position: relative;
    border-color: transparent;

}
.prev, .next {
    background: transparent;
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Amatic SC', cursive, bold;
    font-weight: 5000;
  cursor: pointer;
  height: 50px;
  position: absolute;
  width: 60px;
  top: 140px;
}
.next {
    right: 0;
}
.prev {
    left: 0;
}

.slideshow {
    z-index: 3;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 400px;
    filter: grayscale(30%);
    transform: scale(1.1);
    transition: 1s;

}
.slideshow ul {
    list-style: none;
    vertical-align: middle;
}
.slideshow li {
    display: none;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.slideshow .visible{
    display: inline-block;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

